<%- include('../../shared/includes/head', { pageTitle: 'Failure!' }) %><%# Title of the page %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order failed!</h1>
    <p>Pls, contact shop owner for more details!</p>
  </main>
<%- include('../../shared/includes/footer') %> <%# No Need to add footer everytime manually %>