<%- include('../../shared/includes/head', { pageTitle: 'Success!' }) %><%# Title of the page %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order was successfully placed!</h1>
    <p>You can visit your <a href="/orders">orders page for more details!</a></p>
  </main>
<%- include('../../shared/includes/footer') %> <%# No Need to add footer everytime manually %>